.container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.channelBtn {
    padding: .4rem 0 .4rem calc(.5rem + 20px);
    margin: .2rem .5rem;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    font-weight: bold;
    text-align: left;
    position: relative;
    color: var(--text-primary);
    cursor: pointer;
    transition: all 0.3s ease;
}

:not(.active).channelBtn:hover {
    background-color: var(--bg-channel-hover);
}

.icon {
    position: absolute;
    left: .5rem;
    top: calc(50% - 10px);
    width: 20px;
    height: 20px;
}

.active {
    background-color: var(--bg-color-light);
    color: var(--text-secondary);
}