@use '../../scss/mixins';

.container {
    @include mixins.small;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.separator {
    width: 70%;
    margin: 0 auto;
}