@use '../../scss/mixins';

.card {
    @include mixins.large;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color-primary);
    gap: 0.5rem;
    position: relative;
    padding: 1.5rem 1rem;
}