.userInfo {
    text-align: left;
    background-color: #292b2f;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .8rem .3rem;
}

.copyId {
    max-width: 8ch;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.copyId p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.id:hover {
    background-color: var(--bg-color-darker);
    border-radius: 5px;
}