.item {
    background-color: gray;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all .3s ease;
    cursor: pointer;
}

.item:hover {
    border-radius: 30%;
    background-color: rgb(168, 39, 168);
    color: white;
}

.item:hover::before {
    left: -10px;
}

.item:before {
    content: '';
    width: .4rem;
    height: 50%;
    position: absolute;
    left: -20px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: white;
    transition: all .3s ease;
}