.icon {
    width: 50%;
    height: 50%;
}

.itemOP {
    color: #3ba55d;
}

.item:hover:nth-last-child(1), 
.item:hover:nth-last-child(2) {
    background-color: #3ba55d;
}

.item {
    background-color: var(--bg-color-primary);
    color: var(--text-primary);
    width: 100%;
    min-height: 55px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all .3s ease;
    cursor: pointer;
}

.item:hover {
    p, .icon{
        color: var(--text-secondary);
    }
    
    border-radius: 30%;
    background-color: var(--bg-color-accent);
}

.item:hover::before {
    left: -10px;
}

.item:before {
    content: '';
    width: .4rem;
    height: 50%;
    position: absolute;
    left: -20px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: white;
    transition: all .3s ease;
}

.active:before {
    height: 100%;
    left: -10px;
}