.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

label {
  color: var(--text-primary);
  font-size: 1.3rem;
}

input {
  background-color: var(--bg-color-light);
  font-size: 1.3rem;
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: var(--text-primary);
}

.columns {
  display: flex;
  height: 100%;
}

header {
  text-align: left;
  color: var(--text-primary);
  font-weight: 500;
  padding: .4rem 0 .4rem 1rem;
}