:root {
  --text-primary: #89989d;
  --text-secondary: #edffff;
  --bg-color-darker: #202225;
  --bg-color-dark: #2f3136;
  --bg-color-primary: #36393f;
  --bg-color-light: #42464d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p, h1, h2, h3{
  color: var(--text-primary);
}
html,
body {
  background-color: var(--bg-color-darker);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
