@use '../../scss/mixins';

.container {
    @include mixins.medium;
    background-color: var(--bg-color-dark);
    border-top-left-radius: .7rem;
    position: relative;
    padding-top: 1rem;
    overflow: hidden;
}

.channelContainer {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}